<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.maldi.proyecto_arquitectura">

    <application
        android:allowBackup="true"
        android:icon="@drawable/imagen1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".Password"
            android:label="Password"
            android:theme="@style/AppTheme" />
        <activity android:name=".Seleccion_resinto" />
        <activity android:name=".Avenda_Screen_Load" />
        <activity android:name=".Selecion_Torre" />
        <activity android:name=".Penthouse" />
        <activity android:name=".Basic_department" />
        <activity android:name=".seleccion_tipo_departamento" />
        <activity android:name=".Distribuciones" />
        <activity android:name=".Seleccion_distribucion_screenload" />
        <activity android:name=".Estilos" />
        <activity android:name=".Catalogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Estilo_contemporaneo_screenload" />
        <activity android:name=".LastActivity" />
        <activity android:name=".Cotizacion"></activity>
    </application>

</manifest>